export TF_VAR_aws_iam_policy_infos_dir=$(cd ../../../../../aws_iam_policy_infos && pwd)
export TF_VAR_name_prefix=$(echo "$(hostname)/$(who | cut -d ' ' -f 1)" | md5sum | cut -d ' ' -f 1 | cut -c 1-6)
